.App-header {
    background-color: #0B0C10;
    min-height: 15vh;
    max-width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    padding: 0px 10px;
    position: sticky;
}
.header-title {
    margin-left: 10px;
    font-size: 24px;
    font-family: 'Lexend Deca', cursive;
}
nav {
    margin-left: auto;
}
nav > ul {
    list-style-type: none;
    text-transform: uppercase;
}
nav > ul > li {
    display: inline;
    padding: 0px 10px;
}
nav > ul > li > a{
    transition: all 1s;
}
nav > ul > li > a:hover{
    text-decoration: underline;
}
#tryit {
    background-color: #66FCF1;
    color: #0B0C10;
    border-radius: 2px;
}